ytm-reel-shelf-renderer {
  display: none !important;
}

.reel-shelf-content-wrapper {
  display: none !important;
}

.big-shorts-singleton {
  display: none !important;
}

#cap {
  display: none !important;
}

#player {
  all: unset !important;
}